div.container {
    width: 100%;
}

nav#my-nav-bar {
    background-color: black;
    padding-left: 30px;
}
#my-footer {
    background-color: black;
    margin: auto;
    width: 100%;
    padding-right: 20px;
    padding-left: 15px; 
}
/* .login-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
} */
.brand {
    font-family: 'Pacifico';

}

.project-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; 
}
.overlay {
    position: relative;
    width: 100%;
}
#dropdown-container {
    max-width: 50%;
}
.overlay-image {
    width: 100%;
    height: auto;
}
.overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.all-projects {
    display: flex;
    flex-direction: row;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.project-image {
    width: 40%;
}

.image-sizes {
    width: 100%;
}

.full-container {
    height: 100vh;
}
img.activator {
    height: 300px;
    width: 300px;
}